<div class="comments-title" id="comments<%= node.html_id %>">Comments</div>
<div class="comments">
  <% if (comments) { %>
    <% comments.each(function(comment, key) { %>
      <div class="comment" id="<%= comment.html_id %>">
        <% username = comment.get('creator')._id.split('/')[2]; %>
        <div class="header">
          <a href="/<%= username%>"><%= username %></a>
          commented <%= s.util.prettyDate(comment.get('created_at')) %>
          <% if (app.username === username) { %>
            <a href="/" comment="<%= comment._id %>" class="remove-comment">Remove</a></div>
          <% } %>
        <div class="body">
          <% var version = comment.get('version') ? comment.get('version')._id.split('/')[3] : null; %>
          
          <% if (version !== app.document.version || !(!!version === !!app.document.version)) { %>
            <div class="different-version" title="This comment belongs to a different document version.">
              <a href="/<%= username %>/<%= doc.get('name') %><%= version ? "/"+version : "" %>/<%= node.html_id %>/<%= comment.html_id %>">different version</a>
            </div>
          <% } %>
          <%= comment.get('content') %>
        </div>
      </div>
    <% }); %>
  <% } %>
</div>
<% if (app.username) { %>
  <div class="add-comment">
    <a href="/" class="create-comment">Add Comment</a>
    <div class="comment-content empty"><p>&laquo; Enter Comment &raquo;</p></div>
  </div>
<% } else { %>
  To comment on content fragments you need to be logged in.
<% } %>
