<div id="confirm_collaboration">
  <div class="title">Substance</div>
  <% if (!collaborator || collaborator.get('user')) { %>
    <div class="summary">
      <h2>Sorry. This Invitation has already been confirmed or was deleted by the author.</h2>
    </div>
  <% } else { %>
    <div class="summary">
      <h2><b><%= document.get('creator')._id.split('/')[2] %></b> would like you to collaborate on his document</h2>
      <div class="document">
        <h1><%= document.get('title') %></h1>
        <p class="lead">
          <%= document.get('lead') %>
        </p>
      </div>
    </div>
    
    <div class="option-tabs">
      <% if (app.username) { %> <a href="#" class="option-tab current active" option="current">Confirm</a> <% } %>
      <a href="#" class="option-tab login<%= !app.username ? " active" : "" %>" option="login">Login</a>
      <a href="#" class="option-tab signup" option="signup">Register</a>
    </div>
    
    <% if (app.username) { %>
      <div class="option current page-content active">
        <form id="confirm-form">
          <h1>Use the current user "<%= app.username %>" to collaborate.</h1>
          <p class="info">Once you confirmed this invitation, you can easily lookup the document in your <b>Subscribed Documents</b> bin.</p>
          <div>
            <input type="submit" value="Confirm"/>
          </div>
        </form>
      </div>
    <% } %>
    
    <div class="option login<%= !app.username ? " active" : "" %>">
      <form id="login-form" class="form-content">
        <h1>Login with your account</h1>
        <p class="info">Once you confirmed this invitation, you can easily lookup the document in your <b>Subscribed Documents</b> bin.</p>
        <div>
          <label for="username">Username:<span></span></label>
          <input type="text" id="username" class="username" name="name"/>
        </div>
        
        <div>
          <label for="password">Password:<span><a href="/recover">Forgot Password?</a></span></label>
          <input type="password" id="password" class="password" name="password"/>
        </div>
        
        <div>
          <label for="">&nbsp;</label>
          <input type="submit" value="Login"/>
        </div>
      </form>
      <br class="clear"/>
    </div>
    
    <div class="option signup">
      <form id="signup-form" class="form-content">
        <h1>Create a new account</h1>
        <p class="info">Once you confirmed this invitation, you can easily lookup the document in your <b>Dashboard</b>.</p>
        <div id="registration_error_message"></div>
        
        <div>
          <label for="signup_user">Username:<span>http://substance.io/#USERNAME</span></label>
          <input type="text" id="signup_user" name="username"/>
          <div class="input-message" id="signup_user_message"></div>
        </div>

        <div>
          <label for="signup_name">Full Name:<span>Your real name</span></label>
          <input type="text" id="signup_name" name="name"/>
        </div>

        <div>
          <label for="signup_email">Email:<span>A valid email address</span></label>
          <input type="text" id="signup_email" name="email"/>
        </div>

        <div>
          <label for="signup_password">Password:<span>At least 3 characters</span></label>
          <input type="password" id="signup_password" name="password"/>
        </div>
      
        <div>
          <label for="">&nbsp;</label>
          <input type="submit" value="Create Account"/>
        </div>
      </form>
    </div>
  <% } %>
</div>
