<div class="actions insert">
  <div class="placeholder">Insert Content</div>
  <ul>
    <% childTypes.each(function (position, type) { %>
      <% if (_.isArray(position)) { %>
        <li class="container">
          <span><%= getTypeName(type) %></span>
          <ul>
            <% _.each(position, function (position) { %>
              <li>
                <a href="/"
                   data-parent="<%= position.parent._id %>"
                   data-after="<%= position.after ? position.after._id : ''%>"
                   data-type="<%= type %>">
                  Level <%= position.level %>
                </a>
              </li>
            <% }); %>
          </ul>
        </li>
      <% } else { %>
        <li>
          <a href="/"
             data-parent="<%= position.parent._id %>"
             data-after="<%= position.after ? position.after._id : ''%>"
             data-type="<%= type %>">
            <%= getTypeName(type) %>
          </a>
        </li>
      <% } %>
    <% }); %>
  </ul>
  <br class="clear" />
</div>
