<div id="browser_actions" class="view-actions">
</div>

<div id="browser_inner_wrapper">
  
  <div id="card_file">
    <% if (user) { %>
      <div class="container">
        <div class="avatar">
          <img<% if (user.get('username') === app.username) { %> title="Change your avatar at Gravatar.com"<% } %> class="left" src="/avatar/<%= user._id.split('/')[2] %>/100"/>
        </div>
        <div class="username">
          <h1><%= user.get('name') %></h1>
          <p><em>as</em> <b><%= user.get('username') %></b> <em>since</em> <%= _.date(user.get('created_at')) %></p>
          
          <div class="attributes">
            <% if (user.get('location')) { %>
              <div><em>Located in</em> <%= user.get('location') %></div>
            <% } %>

            <% if (user.get('company')) { %>
              <div><em>Works at</em> <%= user.get('company') %></div>
            <% } %>

            <% if (user.get('website')) { %>
              <div><em>Website at</em> <a target="_blank" href="<%= user.get('website') %>"><%= user.get('website') %></a></div>
            <% } %>
          </div>
        </div>
      </div>
    <% } else { %>
      <% if (query.type == "recent") { %>
        <h1>Recent Documents</h1>
      <% } else if (query.type === "subscribed") { %>
        <h1>Subscribed Documents</h1>
      <% } else { %>
        <h1>Documents matching &quot;<%= query.value %>&quot;</h1>
      <% } %>
    <% } %>
    
    <h2><%= documents.length %> Document<%= documents.length !== 1 ? 's' : '' %></h2>
  </div>

  <% if (documents.length > 0) { %>
    <div id="browser">
      <div id="facets">
        Loading facets...
      </div>
      
      <div id="documents">
        <% documents.each(function(doc) { %> 
        <div class="document">
          <div class="icon published"></div>
          <div class="title"><a class="link load-document" href="/<%= doc.get('creator')._id.split('/')[2] %>/<%= doc.get('name') %>" document="<%= doc._id %>" user="<%= doc.get('creator')._id.split('/')[2] %>" name="<%= doc.get('name') %>"><%= doc.get('title') || 'Untitled' %></a></div>
          <div class="author"><%= doc.get('creator').get('name') || doc.get('creator').get('username') || doc.get('creator')._id.split('/')[2] %></div>
          <div class="dates">
            <% if (doc.get('published_on')) { %>
              <div class="published-on" title="Published on"><%= _.date(doc.get('published_on')) %></div>
            <% } %>
            <div class="updated-at"><span>updated </span><%= _.prettyDate(doc.get('updated_at')) %></div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  <% } else { %>
    <div id="browser">
      <div id="documents">
        <h2>No Documents yet ...</h2>
      </div>
    </div>
  <% } %>
</div>
