<div id="document_publish">
  <div class="settings-title">Publish</div>
  
  <select name="networks" class="networks-selection" multiple="multiple">
    <% availableNetworks.each(function(network) { %>
     <option value="<%= network._id %>"<%= networks.get(network._id) ? ' selected="selected"' : '' %>> <%= network.get('name') %></option>
    <% }); %>
  </select>
  
  <% if (versions.length === 0) { %>
    <p>Not published yet</p>
  <% } %>
  
  <% if (isCurrentUser(document.get('creator'))) { %>
    <div id="new_version">
      <div><input type="text" id="version_remark" name="remark" placeholder="Enter optional remark." value="" /></div>
      <div class="panel">
        <a href="#" class="publish-document">Publish new version</a>
      </div>
    </div>
  <% } %>
  
  <% if (versions.length > 0) { %>
    <h6>Published Versions</h6>
    <div class="versions">
      <% versions.each(function(version) { %>
        <a title="<%= version.get('remark') %>"class="version" href="/<%= document.get('creator')._id.split('/')[2] %>/<%= document.get('name') %>/<%= version._id.split('/')[3] %>">
          <div class="label"><%= s.util.date(version.get('created_at')) %></div>
          <div class="remove-version" data-version="<%= version._id %>"></div>
        </a>
      <% }); %>
      <br class="clear" />
    </div>
  <% } %>
</div>
