<div class="shelf-content">
  <div id="document_export">
    <h7>Export Document</h7>
    <div class="formats">
      <a href="<%= document.location.href %>.pdf" target="_blank" class="format pdf" title="Adobe PDF"><div class="label">PDF</div></a>
      <a href="<%= document.location.href %>.odt" target="_blank" class="format odf" title="OpenDocument Text"><div class="label">ODT</div></a>
      <a href="<%= document.location.href %>.rtf" target="_blank" class="format rtf" title="Rich Text Format"><div class="label">RTF</div></a>
      <a href="<%= document.location.href %>.epub" target="_blank" class="format epub" title="Electronic Publication"><div class="label">EPUB</div></a>
      <a href="<%= document.location.href %>.shower" target="_blank" class="format shower" title="Shower Slideshow"><div class="label">SHWR</div></a>
    </div>
    <h7>Additional Formats</h7>
    <div class="additional-formats">
      <a href="<%= document.location.href %>.html" target="_blank" class="format html" title="HTML"><div class="label">HTML</div></a>
      <a href="<%= document.location.href %>.latex" target="_blank" class="format latex"><div class="label">LaTeX</div></a>
      <a href="<%= document.location.href %>.markdown" target="_blank" class="format markdown"><div class="label">Markdown</div></a>
      <a href="<%= document.location.href %>.textile" target="_blank" class="format textile"><div class="label">Textile</div></a>
      <a href="<%= document.location.href %>.mediawiki" target="_blank" class="format mediawiki"><div class="label">MediaWiki</div></a>
      <a href="<%= document.location.href %>.texinfo" target="_blank" class="format texinfo"><div class="label">Texinfo</div></a>
      <a href="<%= document.location.href %>.org" target="_blank" class="format org"><div class="label">Emacs Org-Mode</div></a>
      <a href="<%= document.location.href %>.rst" target="_blank" class="format rst"><div class="label">ReStructuredText</div></a>
    </div>
  </div>
</div>