<div id="document_controls" class="view-controls">
  <!--<ul>
    <li>
      <a href="#"
         title="<%= doc.get('subscribed') ? "Unsubscribe" : "Subscribe document and get notified about updates" %>"
         class="toggle-subscription <%= doc.get('subscribed') ? 'active' : '' %>">
        <span class="icon">Subscription</span>
        <% if (doc.get('subscribers') > 0) { %>
          <span class="count"><%= doc.get('subscribers') %></span>
        <% } %>
      </a>
    </li>
  </ul>-->
  
  <div id="document_identifier">
    <span class="username"><a class="toggle-view" href="/<%= userName(doc.get('creator')) %>"><%= userName(doc.get('creator')) %></a> / </span>
    <span class="name"><%= doc.get('name') %></span>
  </div>

  <div id="document_meta">
    <a href="#" class="document view subscribers"><div class="meta subscribers"><%= doc.get('subscribers') || 0 %></div></a>
    <div class="meta views"><%= doc.get('views') %></div>
  </div>

  <div id="document_navigation">
    <div class="views">
      <div class="document view settings">Settings</div>
      <div class="document view publish">Publish
        <% if (!doc.get('published_version')) { %>
          <span class="publish-state"> &nbsp;</span>
        <% } else if (doc.get('published_on') == doc.get('updated_at')) { %>
          <span class="publish-state"> &radic;</span>
        <% } else { %>
          <span class="publish-state"> *</span>
        <% } %>
      </div>
      <div class="document view invite">Invite</div>
      <div class="document view export">Export</div>
      <div class="document view versions">Versions</div>
    </div>
  </div>
  <br class="clear"/>
  
  <div id="document_shelf"></div>
</div>

<div id="document_content">
  <div class="toggle-toc"><div class="label">Contents</div></div>
  <div id="document"></div>
</div>
