<div id="document_controls" class="view-controls">  
  <div id="document_identifier">
    <span class="username"><a class="toggle-view" href="/<%= userName(doc.get('creator')) %>"><%= userName(doc.get('creator')) %></a> / </span>
    <span class="name"><%= doc.get('name') %></span>
  </div>

  <div id="document_navigation">
    <% if (authorized) { %>
      <div class="document tab publish"><a href="#"><div class="publish-state <%= getPublishState(doc) %>"></div>Publish</a></div>
      <div class="document tab settings"><a href="#">Settings</a></div>
    <% } %>
    <div class="document tab invite"><a href="#">Collaborators</a></div>
    <div class="document tab export"><a href="#">Export</a></div>
    <div class="document tab versions"><a href="#">History</a></div>
  </div>

  <div id="document_meta">
    <% if (loggedIn()) { %>
      <div class="document action toggle-subscription"><a href="#"><%= doc.get('subscribed') ? "Remove Bookmark" : "Bookmark" %></a></div>
    <% } %>
    <div class="document tab subscribers" title="Bookmarkers"><a href="#"><%= doc.get('subscribers') || 0 %></a></div>
    <div class="document tab views" title="Total Views"><%= doc.get('views') %></div>
  </div>

  <br class="clear"/>
  
  <div id="document_shelf"></div>
</div>

<div id="document_content">
  <div id="document"></div>
</div>
