<h2>Bookmarked by</h2>
 
 <div class="user-list-container">
  <div class="user-list" style="width: <%= subscriptions.length*(200)+10 %>px">
    <% if (subscriptions.length > 0) { %>
      <% subscriptions.each(function(subscription) { %> 
      <a class="toggle-view" href="/<%= userName(subscription.get('user')) %>" user="<%= subscription.get('user')._id %>"><div class="user">
        <div class="image">
          <img src="/avatar/<%= userName(subscription.get('user')) %>/180" width="180" height="180" />
        </div>

        <div class="title">
          <%= subscription.get('user').get('username') || userName(subscription.get('user')) %>
        </div>
          
      </div></a>
      <% }); %>
      
    <% } else { %>
      <h2>No Bookmarkers yet ...</h2>
    <% } %>
  </div>
</div>