<div class="form-content">
  <h2>Publish</h2>

  <div>
    <label for="last_published">Last published:<span></span></label>
    <%= document.get('published_on') ? s.util.prettyDate(document.get('published_on')) : "Not yet published" %>
    <br class="clear"/>
  </div>

  <div>
    <label for="networks">Networks:<span></span></label>
    
    <select name="networks" class="networks-selection" data-placeholder="Choose some Networks your document should appear in ..." style="width:364px; max-height: 200px" multiple="multiple">
      <% availableNetworks.each(function(network) { %>
       <option value="<%= network._id %>"<%= networks.get(network._id) ? ' selected="selected"' : '' %>> <%= network.get('name') %></option>
      <% }); %>
    </select>
    <br class="clear"/>
  </div>
  
  <div>
    <label for="version_remark">Remark:<span></span></label>
    <input type="text" id="version_remark" name="user_name" value="" placeholder="Enter optional version description"/>
    <br class="clear"/>
  </div>

  <% if (isCurrentUser(document.get('creator'))) { %>
  <div>
    <label for="">&nbsp;</label>
    <% if (document.get('published_on') != document.get('updated_at')) { %>
      <input class="publish-document" type="submit" id="document_name" value="<%= document.get('published_version') ? "Publish Changes": "Publish" %>"/>
    <% } %>
    <% if (document.get('published_version')) { %>
      <input class="unpublish-document" type="submit" id="document_name" value="Unpublish"/>
    <% } %>
    <br class="clear"/>
  </div>
  <% } %>
</div>