<div class="settings-title">Export Document</div>

<div class="formats">
  <a href="<%= baseUrl %>.pdf" target="_blank" class="format pdf" title="Adobe PDF"><div class="label">PDF</div></a>
  <a href="<%= baseUrl %>.odt" target="_blank" class="format odf" title="OpenDocument Text"><div class="label">ODT</div></a>
  <a href="<%= baseUrl %>.rtf" target="_blank" class="format rtf" title="Rich Text Format"><div class="label">RTF</div></a>
  <a href="<%= baseUrl %>.epub" target="_blank" class="format epub" title="Electronic Publication"><div class="label">EPUB</div></a>
  <a href="<%= baseUrl %>.shower" target="_blank" class="format shower" title="Shower Slideshow"><div class="label">SHWR</div></a>
</div>
<h7>Additional Formats</h7>
<div class="additional-formats">
  <a href="<%= baseUrl %>.html" target="_blank" class="format html" title="HTML"><div class="label">HTML</div></a>
  <a href="<%= baseUrl %>.latex" target="_blank" class="format latex"><div class="label">LaTeX</div></a>
  <a href="<%= baseUrl %>.markdown" target="_blank" class="format markdown"><div class="label">Markdown</div></a>
  <a href="<%= baseUrl %>.textile" target="_blank" class="format textile"><div class="label">Textile</div></a>
  <a href="<%= baseUrl %>.mediawiki" target="_blank" class="format mediawiki"><div class="label">MediaWiki</div></a>
  <a href="<%= baseUrl %>.texinfo" target="_blank" class="format texinfo"><div class="label">Texinfo</div></a>
  <a href="<%= baseUrl %>.org" target="_blank" class="format org"><div class="label">Emacs Org-Mode</div></a>
  <a href="<%= baseUrl %>.rst" target="_blank" class="format rst"><div class="label">ReStructuredText</div></a>
</div>
