<% if (versions.length > 0) { %>
  <div class="versions-container">
    <div class="versions" style="width: <%= versions.length*(150+40)+10 %>px">
      <% versions.each(function(version) { %>
        <div class="version">
          <div class="count">#<%= version._id.split('/')[3] %></div>
          <div class="date">
            <a class="toggle-version" href="/<%= document.get('creator')._id.split('/')[2] %>/<%= document.get('name') %>/<%= version._id.split('/')[3] %>">
              <%= s.util.date(version.get('created_at')) %>
            </a>
          </div>
          <% if (document.get('published_version')._id !== version._id) { %>
            <a href="#" title="Delete Version" class="remove-version" data-version="<%= version._id %>"><span>Delete</span></a>
          <% } %>
          <div class="remark"><%= version.get('remark') %></div>
          <% if (document.get('published_version')._id === version._id) { %>
            <div class="published-version">PUBLISHED VERSION<div class="cursor"><span></span></div></div>
          <% } %>
        </div>
      <% }); %>
    </div>
  </div>
<% } else { %>
  <h2>No Versions yet. Publish first.</h2>
<% } %>

