
<div id="network_filters">
  <h2>Topics</h2>

  <div class="topics">
    <div class="topic">Science / Tech</div>
    <div class="topic">Music</div>
    <div class="topic">Politics</div>
  </div>
</div>


<div id="networks">
	<h2>Choose a Network</h2>
	<% networks.each(function(network) { %>
    
    <a class="toggle-view" href="<%= network._id %>">
    	<div class="network" data-network="<%= network._id %>">
        <div class="image"><img src="<%= network.get('cover') || "/images/network-image-placeholder.png" %>"/></div>
     	  <div class="title"><%= network.get('name') %></div>
      	<div class="document-count"><%= network.meta.documents %> documents</div>
        <div class="member-count"><%= network.meta.members %> members</div>
        <!--<div class="updated-at"><%= s.util.prettyDate(network.get('updated_at')) %></div>-->
    	</div>
    </a>
	<% }); %>
</div>
