<div id="network_header" style="background: <%= network.get('color') %>">
  <div class="actions">
  	<% if (isMember) { %>
  		<a href="#leave" class="action leave-network">Leave Network</a>
  	<% } else { %>
  		<a href="#join" class="action join-network">Join Network</a>
  	<% } %>

    <div class="tabs">
      <a href="#" class="tab toggle-documents selected"><div class="number"><%= documents.length %></div><div class="label">documents</div></a>
      <a href="#" class="tab toggle-members"><div class="number"><%= members.length %></div><div class="label">members</div></a>
    </div>
  </div>

  <% if (isCurrentUser(network.get('creator'))) { %>
    <div class="image" title="Click to upload image">
      <form class="upload-image-form" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
        <img src="<%= network.get('cover') || "/images/document-image-placeholder.png" %>"/>
        <input type="file" class="image-file" name="image-file" />
        <input type="hidden" name="params" value="<%= transloadit_params %>" />
      </form>
      <div class="info">Click image to change cover</div>

      <div class="image-progress">
        <div class="label">Uploading image ...</div>
        <div class="progress-container">
          <div class="progress-bar" style="width:60%"></div>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="image">
      <img src="<%= network.get('cover') || "/images/document-image-placeholder.png" %>" width="180"/>
    </div>
  <% } %>

  <div class="network-info">
    <h2 class="title"><%= network.get('name') %></h2>
    <p class="meta">created by <b><%= userName(network.get('creator')) %></b> on <i><%= s.util.date(network.get('created_at')) %></i> </p>
    <p class="descr"><%= network.get('descr') %></p>
  </div>


</div>