<!--<h2><%= documents.length %> Document<%= documents.length !== 1 ? 's' : '' %></h2>-->
<% if (documents.length > 0) { %>
  <div id="browser">
    
    <div id="documents">
      <% documents.each(function(doc) { %> 
      <div class="document">
        <div class="image">
          <img src="/images/doc-image.jpeg" width="180">
        </div>

        <div class="title">
          <a class="link load-document toggle-view" href="/<%= doc.get('creator')._id.split('/')[2] %>/<%= doc.get('name') %>" document="<%= doc._id %>" user="<%= doc.get('creator')._id.split('/')[2] %>" name="<%= doc.get('name') %>"><%= doc.get('title') || 'Untitled' %></a>
        </div>

        <div class="author"><%= doc.get('creator').get('name') || doc.get('creator').get('username') || doc.get('creator')._id.split('/')[2] %></div>
          
        <div class="updated-at"><span>updated </span><%= s.util.prettyDate(doc.get('updated_at')) %></div>
      </div>
      <% }); %>
    </div>
  </div>
<% } else { %>
  <div id="browser">
    <div id="documents">
      <h2>No Documents yet ...</h2>
    </div>
  </div>
<% } %>
