<% if (users.length === 0 && documents.length === 0) { %>
  <p>No results.</p>
<% } %>

<% if (users.length > 0) { %>
  <h2>Users (<%= users.length %>)</h2>
  <ul>
    <% _.each(users, function (user) { %>
      <li>
        <a class="toggle-view" href="/<%= user.username %>">
          <%= user.name %>
        </a>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (documents.length > 0) { %>
  <h2>Documents (<%= documents.length %>)</h2>
  <ul>
    <% _.each(documents, function (document) { %>
      <li>
        <a class="toggle-view" href="<%= '/' + document.creator.username + '/' + document.document.name %>"><%= document.document.title %></a>
        by 
        <a class="toggle-view" href="/<%= document.creator.username %>"><%= document.creator.name %></a>
      </li>
    <% }); %>
  </ul>
<% } %>