<dl class="document-attributes">
  <dt>Creator</dt>
  <dd><%= doc.get('creator').get('name') || doc.get('creator').get('username') %></dd>
  
  <dt>Created On</dt>
  <dd><%= _.date(doc.get('created_at')) %></dd>
  
  <dt>Last modified</dt>
  <dd><%= _.prettyDate(new Date(doc.get('updated_at')).toJSON()) %></dd>
  
  <dt>Views</dt>
  <dd><%= doc.get('views') %></dd>
  
  <% attributes.each(function(attribute) { %>
    <% if (doc.get(attribute.key).length > 0) { %>
      <dt><%= attribute.name %></dt>
      <dd>
        <div class="items">
          <% doc.get(attribute.key).each(function(v) { %>
            <div class="item"><%= v.get('name') %></div>
          <% }); %>
        </div>
      </dd>
    <% } %>
  <% }); %>
</dl>
