<div id="card_file">
    <div class="container">

      <div class="username">
        <div class="avatar">
          <img <% if (isCurrentUser(user)) { %> title="Change your avatar at Gravatar.com"<% } %> src="/avatar/<%= user._id.split('/')[2] %>/180" width="180" height="180" />
        </div>
      
        <h1><%= user.get('name') %></h1>
        <p class="slug"><em>as</em> <b><%= user.get('username') %></b> <em>since</em> <%= s.util.date(user.get('created_at')) %></p>

        <div class="attributes">
          <% if (user.get('location')) { %>
            <div><em>Located in</em> <%= user.get('location') %></div>
          <% } %>

          <% if (user.get('company')) { %>
            <div><em>Works at</em> <%= user.get('company') %></div>
          <% } %>

          <% if (user.get('website')) { %>
            <div><em>Website at</em> <a target="_blank" href="<%= user.get('website') %>"><%= user.get('website') %></a></div>
          <% } %>
        </div>
      </div>
    </div>
</div>
