<div id="user_settings">
  
  <form id="user_settings_form" class="form-content">
    <h1>Account Settings</h1>
    <br/><h2>Public Profile</h2>
    <div>
      <label for="user_username">Username:<span>Cannot be changed</span></label>
      <%= user.get('username') %>
      <input type="hidden" id="user_username" name="user_username" value="<%= user.get('username') %>"/>
    </div>
    
    <div>
      <label for="user_name">Name:<span>Your full name</span></label>
      <input type="text" id="user_name" name="user_name" value="<%= user.get('name') %>"/>
    </div>
  
    <div>
      <label for="user_email">Email:<span>Publicly visible</span></label>
      <input type="text" id="user_email" name="user_email" value="<%= user.get('email') %>"/>
    </div>
            
    <div>
      <label for="user_website">Website:<span>http://your-website.com</span></label>
      <input type="text" id="user_website" name="user_website" value="<%= user.get('website') %>"/>
    </div>
    
    <div>
      <label for="user_company">Company:<span>Or organization</span></label>
      <input type="text" id="user_company" name="user_company" value="<%= user.get('company') %>"/>
    </div>
    
    <div>
      <label for="user_location">Location:<span>City, Country</span></label>
      <input type="text" id="user_location" name="user_location" value="<%= user.get('location') %>"/>
    </div>
    <br/><br/>
    <h2>Change password</h2>
  
    <div>
      <label for="user_password">Password:<span>Choose a new password or leave blank</span></label>
      <input type="password" id="user_password" name="user_password"/>
    </div>
    
    <div>
      <label for="user_password_confirmation">Password Confirmation:<span>Confirm new password</span></label>
      <input type="password" id="user_password_confirmation" name="user_password_confirmation"/>
    </div>
    
    <div>
      <label for="">&nbsp;</label>
      <input type="submit" id="document_name" value="Update Information"/>
    </div>
  </form>
</div>
