<ul>
  <li>
    <a href="#" class="toggle notifications" title="Notifications">
      <span class="icon">Notifications</span>
      <span class="count"><%= count %></span>
    </a>
    <div id="event_notifications">
      <% notifications.each(function(n) { %>
        <a class="open-notification" href="<%= n.get('event').get('link') %>"><div class="notification<%= n.get('read') ? " read": " unread" %>">
          <img src="/avatar/<%= n.get('event').get('creator')._id.split('/')[2]%>/30" />
          <div class="message"><%= n.get('event').get('message') %></div>
          <div class="timestamp"><%= s.util.prettyDate(n.get('event').get('created_at')) %></div>
        </div></a>
      <% }); %>
      <% if (notifications.length === 0) { %>
        <div class="notification">
          <div class="message">Currently no notifications</div>
        </div>
      <% } %>
    </div>
  </li>

  <li>
    <a href="/<%= user._id.split('/')[2] %>" class="toggle-view user-profile" title="User Profile">
      <img src="/avatar/<%= user._id.split('/')[2] %>/25" />
      <span class="count"><%= user.get('name') %></span>
    </a>
  </li>

  <li>
    <a href="/settings" class="user-settings toggle-view" title="User Settings">
      <span class="icon">User Settings</span>
    </a>
  </li>

  <li>
    <a href="#" class="logout" title="Logout">
      <span class="icon">Logout</span>
    </a>
  </li>
</ul>
